<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrQG5oLT8WBoLruYKVebmO13bFrZNoUGo</string>
	<key>GCM_SENDER_ID</key>
	<string>443167745906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dailygrowth.app.testProject</string>
	<key>PROJECT_ID</key>
	<string>dailygrowth-pwa</string>
	<key>STORAGE_BUCKET</key>
	<string>dailygrowth-pwa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443167745906:ios:25529722b5680bc8f3dfeb</string>
</dict>
</plist>


